@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    height: 100%;

    &,
    body {
        position: relative;
        font-family: 'Open Sans', sans-serif;
    }
}

input[type='file'] {
    @apply invisible w-0;
}

input[type='file'] + label.file-label {
    @apply border flex items-center overflow-hidden;

    & span {
        @apply py-2 px-3;
    }

    & span:not(.file-names) {
        @apply bg-gray-lighter flex-shrink-0;
    }

    & span.file-names {
        @apply overflow-hidden overflow-ellipsis w-full whitespace-nowrap;
    }
}

.wysiwyg {
    @apply border;

    .wysiwyg-menu {
        @apply p-2 flex items-center;

        & > button {
            @apply py-2 px-3 rounded-sm mx-1;
        }
    }

    .wysiwyg-active {
        @apply bg-gray-dark bg-opacity-75 text-ghost-white;
    }

    .ProseMirror {
        @apply px-3 py-2 whitespace-pre-wrap overflow-auto;
    }

    .ProseMirror:focus {
        @apply outline-none;
    }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
input[type='checkbox'],
input[type='radio'],
select,
select[multiple],
textarea,
input[type='file'] + label.file-label,
.wysiwyg {
    @apply rounded-md border-gray-lighter shadow-sm;

    &.is-invalid {
        @apply border-red;
    }
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='url']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='checkbox']:focus,
input[type='radio']:focus,
select:focus,
select[multiple]:focus,
textarea:focus,
input[type='file']:focus + label.file-label {
    @apply border-tertiary-light ring ring-tertiary ring-opacity-25;
}

textarea,
.wysiwyg .ProseMirror {
    min-height: 4rem;
    max-height: 25rem;
}

// ProseMirror styles

.block-h3 {
    @apply uppercase text-center font-semibold text-lg;

    &:not(:first-child) {
        @apply mt-8;
    }
}

@import 'tailwindcss/utilities';
